.home {
  width: 100%;
  height: 85vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  background-color: var(--soft-blue);
}

.home p {
  font-size: 2rem;
  padding: 10px;
  color: var(--bluesjc-2)
}

.home span {
  font-size: 3rem;
  font-weight: bold;
  color: #d7ebf4
}

.btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: var(--bluesjc-3);
  color: var(--hgold-sjc-1);
  padding: 10px;
  cursor: pointer;
}

.btn:hover{
  color: var(--bluesjc-3);
  background-color: var(--hgold-sjc-1); ;
}

.img {
  width: 400px;
  height: 400px;
  align-items: center;
  justify-items: auto;  

}
