.container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--soft-blue);
  color: var(--bluesjc-2);
}

.container div {
  width: 40%;
}
.container span {
  font-weight: bold;
  color: var(--hgold-sjc-4);
}

.bio p {
  text-align: justify;
}

.container img {
  height: 300px;
  border-radius: 50%;
}

.img h4, p{
  text-align: center;
}



