.footer {
  width: 100vw;
  height: 60px;
  text-align: center;
  background-color: var(--bluesjc-4);
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}